default-font-size = 16px

rem(n, fallback = true, root = default-font-size) {
  unless current-property {
    error('rem() must be used within a property');
  }

  unless unit(n) is 'px' and unit(root) is 'px' {
    error('Please use px as a unit');
  }

  replace(expr, str, val) {
    expr = clone(expr);

    for e, i in expr {
      if str == e {
        expr[i] = val;
      }
    }

    return expr;
  }

  if fallback {
    add-property(current-property[0], replace(current-property[1], '__CALL__', n));
  }

  unit(round((n / root), 4), s('rem'));
}
