
$lineHeight = 1.7
$fontSize = 1.5rem
$fontWeight = 400



$fontFamily = 'Roboto', sans-serif
$fontFamilyTitle = 'Roboto', sans-serif
$fontFamilyRoboto = 'Roboto', sans-serif


$green = #00a651
$red = #db0033
$blue = #0491eb
$pink = #ee46a0

$color = #fff
$colorTitle = #fff

$colorLink = $blue
$colorLinkHover = $blue
$colorLinkActive = $blue
$colorLinkVisited = #a73676
$colorLinkVisitedHover = $blue

$colorBg = #fafafa



$interline = 20px


$z-index = {
    header__flow: 11,
    footer: 11,
    mainpopup:10,
    modal:100,
    ontop:99,
    info:50,
    header__flow:50
}
