@import '../../stylus/grids/grids.styl'

.footer
    text-align left
    padding 3rem 0

    &__wrap
        @extend $container

    &__copyright
        font-weight bold
        color #fafafa
        text-shadow 1px 1px 1px rgba(#55c6de,.3)

        span
            color #0588a4
