.button, button
    display inline-block
    width auto
    height auto
    position relative
    vertical-align baseline
    text-decoration none
    border none
    line-height inherit

    &__title
        display inline-block

    &:focus
        outline none
        //border none
