.layout
    margin  0
    height  100%
    width 100%
    display  table
    table-layout  fixed


    &__row
        display  table-row

    &__col
        display  table-cell
        vertical-align  top
        height  100%
        &--footer
            vertical-align  bottom
            padding 0
            height auto
        &--header
            vertical-align  top
            padding 0
            height auto

    
