h1,
.like-h1,
h2,
.like-h2,
h3,
.like-h3,
h4,
.like-h4,
h5,
.like-h5,
h6,
.like-h6
    font-family $fontFamilyTitle
    color $colorTitle
    line-height 1.2em
    font-style normal
    font-weight: 600
    margin 0 0 3rem 0
    +mediamax('sm')
        word-wrap break-word

h1,
.like-h1
    font-size 4rem
    +mediamax('xs')
        font-size 3rem


h2,
.like-h2
    font-size 3rem
    +mediamax('xs')
        font-size 2.6rem



h3,
.like-h3
    font-size 2.7rem
    +mediamax('xs')
        font-size 2.2rem



h4,
.like-h4
    font-size 2rem
    +mediamax('xs')
        font-size 1.8rem



h5,
.like-h5
    font-size 1.8rem
    +mediamax('xs')
        font-size 1.7rem


h6,
.like-h6
    font-size 1.6rem
    line-height 1.4em
    +mediamax('xs')
        font-size 1.6rem
