
.visible--formobile
        //@extend $visible-xs, $visible-sm
        visible('xs')
        visible('sm')

.visible--fordesktop
        //@extend $visible-md, $visible-lg
        visible('md')
        visible('lg')
