@import '../../stylus/grids/grids.styl'

.header
    text-align left
    padding 3rem 0

    &__wrap
        @extend $container

    &__logo
        font-size 5rem
        line-height 5rem
        font-weight bold
        color #fafafa
        text-shadow 1px 1px 1px rgba(#55c6de,.3)

        span
            color #55c6de
