.tags

    &__items
        display flex
        flex-flow: row wrap;

    &__item
        flex 1 1 auto
        padding 0.5rem
        text-align center



.tag
    display block
    background-color rgba(92,209,235,0.5)
    border 1px solid #85d6e7
    text-decoration none
    padding 0.5rem 1rem
    border-radius 3px
    color #fff
